@import "../../assets/styles/global";

.todo{
  padding: 40px 60px;

  &__title{
    @include fontSet($fs: $fs-32, $fw: $fw-Bold);
    margin: 0 0 40px;
  }


  &__checkLists{
    padding: 0;
    margin: 20px 0 0;
    list-style-type: none;
  }
}

@media screen and (max-width: $Tablet){
  .todo{
    padding: 20px 30px;

    &__title{
      @include fontSet($fs: $fs-26, $fw: $fw-Bold);
      margin-bottom: 20px;
    }
    &__checkLists{
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: $Mobile){
  .todo{
    padding: 20px 10px;

    &__title{
      @include fontSet($fs: $fs-26, $fw: $fw-Bold);
      margin-bottom: 20px;
    }
    &__checkLists{
      margin-top: 10px;
    }
  }
}