@import "../../assets/styles/global.scss";

.nav {
  @include displaySettings($justify: space-between);
  &__tabs{
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include displaySettings($justify: flex-start);
    gap: 40px;
  }

  &__tab{
    cursor: pointer;
    @include fontSet($fs: $fs-20, $fw: $fw-Regular);
    padding-bottom: 3px;
  }

  .active{
    @include fontSet($fs: $fs-20, $fw: $fw-Medium);
    border-bottom: 3px solid $globalBlack;
  }

  &__addCheckListBtn{
    color: $globalBlue !important;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    @include fontSet($fs: $fs-18, $fw: $fw-Regular);
    padding: 0;
  }
}

@media screen and (max-width: $Tablet){
  .nav{

    &__tabs{
      gap: 15px;
    }

    &__tab{
      @include fontSet($fs: $fs-12, $fw: $fw-Regular);
      padding: 0;
    }

    .active{
      @include fontSet($fs: $fs-12, $fw: $fw-Medium);
      border-bottom: 1px solid $globalBlack;
    }

    &__addCheckListBtn {
      @include fontSet($fs: $fs-12, $fw: $fw-Regular);
    }
  }
}

@media screen and (max-width: $Mobile){
  .nav{

    &__tabs{
      gap: 10px;
    }

    &__tab{
      @include fontSet($fs: $fs-10, $fw: $fw-Regular);
      padding: 0;
    }

    .active{
      @include fontSet($fs: $fs-10, $fw: $fw-Medium);
      border-bottom: 1px solid $globalBlack;
    }

    &__addCheckListBtn {
      @include fontSet($fs: $fs-10, $fw: $fw-Regular);
    }
  }
}