@import "../../assets/styles/global";

.form{
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $globalBlue;
  @include displaySettings($justify: flex-start);
  gap: 10px;

  &__input{
    outline: none;
    border: none;
    @include fontSet($fs: $fs-20, $fw: $fw-Regular);
    @include transitionSetting();
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #998c8c;
    padding: 8px;
    margin-right: 10px;



    &.valid{
      outline: 1px solid $globalBlue;
      @include transitionSetting();
      color: $globalBlue;
    }

    &:hover{
      @include transitionSetting();
    }

  }

  &__button{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    color:  #998c8c;
    @include fontSet($fs: $fs-18, $fw: $fw-Regular);
    height: 100%;
    padding: 0;



    &.valid{
      color: $globalBlue;
    }
  }

}

@media screen and (max-width: $Tablet){
  .form{
    gap: 7px;
    flex-direction: column;
    align-items: flex-start;

    &.set{
      flex-direction: row;
      align-items: center;
    }

    &__input{
      @include fontSet($fs: $fs-14, $fw: $fw-Regular);
      padding: 6px;
      border-radius: 7px;
    }

    &__button{
      @include fontSet($fs: $fs-14, $fw: $fw-Regular);
    }
  }
}

.form_tasks{
  @include displaySettings($justify: flex-start);
  flex-direction: row;
  gap: 0;
}

@media screen and (max-width: $Mobile){
  .form{
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;

    &.set{
      flex-direction: row;
      align-items: center;
    }

    &__input{
      @include fontSet($fs: $fs-10, $fw: $fw-Regular);
      padding: 4px;
      border-radius: 7px;
    }

    &__button{
      @include fontSet($fs: $fs-10, $fw: $fw-Regular);
    }
  }
}

.form_tasks{
  @include displaySettings($justify: flex-start);
  flex-direction: row;
  gap: 0;
}